body{
  background: linear-gradient(to right, #1c1c1c, #383838);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container{
  max-width: 600px;
  width: auto;
  padding: 30px;
  border-radius: 12px;
  background: linear-gradient(to right, #4c4b80, #6c2fb1);
  box-shadow: 0 8px 20px rgba(0,0,0,0.7);
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #444444;
  margin: 20px;
}
h2{
  margin-bottom: 20px;
  border-bottom: 3px solid #ffffff;
  padding-bottom: 10px;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}


.options {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.option input{
  margin-right: 10px;
}
.option p{
  margin: 0;
}
.btns{
  margin-top:  20px;

}
.next{
  padding: 12px 24px;
  background-color: #1c1a5e;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.score{
  margin-top: 20px;
}
.score button{
  padding: 12px 24px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button#next {
  padding: 5px 32px;
}
